<div id="nothingbox">
    <style>
         :root {
            --image: url('cb500.png')
        }
    </style>
    <div class="audbox" id="songplay">

        <div class="moreoptions">
            <div class="share">
                <a href="/share?username=<%= data.username %>&token=<%= data.en_userid %>"><i class="fas fa-share-alt"></i></a>
            </div>
            <div class="addtoplaylist" onclick="addtoWatchlist()">
                <p title="Add to Playlist">
                    <span class="material-icons-outlined material-icons">playlist_add</span>
                </p>
            </div>
            <div class="favourites" id="like">
                <p title="Add to Favourites">
                    <span class="material-icons-outlined material-icons ">favorite_border</span>
                </p>
            </div>
        </div>

        <div class="audboxmain">
            <div class="audiomain">
                <div class="audcdbox">
                    <i class="fas fa-compact-disc md-240 " id="livecd"></i>
                </div>
                <div class="titleaud">
                    <div class="title">
                        <p style="font-size: large; ">CodeBlank Audio</p>
                        <p style="font-family: 'Courier New', Courier, monospace; color: rgb(187, 184, 184);"><b style="font-family: monospace; font-size: large;">Artist:</b>
                            <span>Artist</span>
                        </p>
                        <div id="L_btn">

                        </div>

                    </div>
                    <div id="objectdown" class="progress">
                        <audio autoplay id="plyr-audio" class="audioplyr" onplay="audion()" onpause="audioff()" ontimeupdate='updateTrackTime(this);' controls>
                                   <source id="audiosrc" src=" " type="audio/mpeg">
                               </audio>
                        <script>
                            plyr.setup("#plyr-audio");
                        </script>

                    </div>


                </div>


            </div>
        </div>
    </div>

    <div class="musicbox" id="dataupdate">


    </div>

    <script>
        document.getElementById("dataupdate").innerHTML = 'Loading your stuff...'
        webnotifi('Finding your favourite list hold on!..', 'CBFileManager API')
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("dataupdate").innerHTML = xhttp.responseText;
            }
            if (this.readyState == 4 && this.status == 201) {
                document.getElementById("nothingbox").innerHTML = '<h1>Nothing to show here add some song to your favourite list and visit again</h1>';
            }
        };
        xhttp.open("GET", `<%= data.userid %>/show/favourite`, true);
        xhttp.send();
        setTimeout(function() {
            getid()
        }, 10000)
        update_likelist()
    </script>

    <div class="lyricsaud hidden" id="lyricsbox">
        <div class="close" onclick="hideLyrics() ">
            <i class="fas fa-times md-10"></i>
        </div>

        <div class="lyrics">
            <h2 class="headlyrics">Lyrics</h2>
            <p id="lyrics_txt">
                searching....
            </p>
        </div>
    </div>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons " rel="stylesheet ">
    <script src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js "></script>
    <script src="https://cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js "></script>
    <script src="https://cdn.jsdelivr.net/gh/clappr/dash-shaka-playback@latest/dist/dash-shaka-playback.js "></script>
    <link rel="stylesheet " href="https://use.fontawesome.com/releases/v5.15.4/css/all.css " integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm " crossorigin="anonymous ">
    <script src="https://cdn.plyr.io/2.0.15/plyr.js "></script>
    <link rel="stylesheet " href="https://cdn.plyr.io/2.0.15/plyr.css ">
</div>