<div id="AccountModal" class="accountmodal" class="accountBox">
    <div class="accountmodal-content">
        <span class="accountclose">&times;</span>
        <div class="navtitle" style="color: white;">
            <p class="companyCode">CodeBlank</p>
            <p>FileManager</p>
        </div>
        <div class="accountab">
            <div class="taboption">
                <div onclick="req_signup()" class="accountbutton">
                    SignUp
                </div>
                <span>|</span>
                <div onclick="req_login()" class="accountbutton">
                    Log In
                </div>
            </div>
            <div id="log_box" class="accounttabbox">

            </div>
        </div>
    </div>
</div>