<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CB FileManager</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/clappr/dash-shaka-playback@latest/dist/dash-shaka-playback.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://cdn.plyr.io/2.0.15/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.15/plyr.css">
</head>

<body>
    <div class="bodycontainer">
        <div class="navbox">
            <div class="iconham" onclick="showHome()">
                <i class="fas fa-bars"></i>
                <!-- <i class="far fa-times-circle"></i> -->
            </div>
            <div class="navcont">
                <div class="navtitle">
                    <p class="companyCode">CodeBlank</p>
                    <p>FileManager</p>
                </div>
                <div class="navlinks">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact-us">Contact</a>
                </div>
                <div class="avlinks">
                    <div id="timenow"></div>

                    <div id="do_btn">
                        <a id="joinbtn" href="javascript:void(0)">Join Us</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="audioopt" id="HomeLay">

            <div class="homelaycode">
                <div class="iconham" onclick="closeHome()">
                    <i class="fas fa-bars"></i>
                    <!-- <i class="far fa-times-circle"></i> -->
                </div>
                <div class="audcodetitle">

                    <p class="companyCode">CodeBlank</p>
                    <p>FileManager</p>
                </div>
            </div>
            <div class="miscboxaudio">
                <div class="miscauditem">
                    <span class="material-icons material-icons-outlined">
                        explore
                        </span>
                    <p>Explore</p>
                </div>
                <div class="miscauditem">
                    <span class="material-icons material-icons-outlined">
                        history
                        </span>
                    <p>History</p>
                </div>
                <div class="miscauditem" onclick="userplaylists()">
                    <span class="material-icons material-icons-outlined">
                        playlist_play
                        </span>
                    <p>Playlists</p>
                </div>
                <div class="miscauditem" onclick="showfavourites()">
                    <span class="material-icons material-icons-outlined">
                        favorite
                        </span>
                    <p>Favourites</p>
                </div>
                <div class="miscauditem" onclick="logout()">
                    <span class="material-icons material-icons-outlined">
                        logout
                        </span>
                    <p>Log Out</p>
                </div>
            </div>
        </div>
        <div class="maincont" id="fill_content">

        </div>
        <div class="notification" id="notfi">

        </div>
        <script>
            function closeNotifi() {
                document.getElementById('notfi').style.display = "none"
            }

            function webnotifi(notifi, title) {
                document.getElementById('notfi').style.display = "flex"
                document.getElementById('notfi').innerHTML = `
                <div class="notifyitem">
                <div class="notifycontent">
                    <h3>${title}</h3>
                    <br>
                    <p>${notifi}</p>
                </div>
                <div class="closenotify" onclick="closeNotifi()">
                    <i class="fas fa-times"></i>
                </div>
                
            </div>`

                setTimeout(function() {
                    closeNotifi()
                }, 3000)


            }

            function showHome() {
                const homelay = document.getElementById("HomeLay")
                homelay.style.display = "flex";
            }

            function closeHome() {
                const homelay = document.getElementById("HomeLay")
                homelay.style.display = "none";
            }
        </script>
        <footer class="footerhere">
            <div class="footitem">
                © CodeBlank Websites 2021
            </div>
        </footer>
    </div>
    <div id="form_cb">

    </div>
    <%- include('../../views/modal/acc_modal.ejs'); %>
</body>

<script src="scripts/modal.js"></script>
<script src="scripts/layout.js"></script>
<script src="scripts/manager.js"></script>
<script src="scripts/cbaudio/cbaudiomain.js"></script>
<script src="scripts/cbaudio/cbaudio_user_playlist.js"></script>